//Header Styles Here
#main-header {
	background: url(../img/header-background.jpg) center center no-repeat;
	background-size: cover;

	#waves {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
	}
}
