//Header Styles Here
#main-header {
	position: relative;
	background: url(../img/header-background.jpg) center center no-repeat;
	background-size: cover;

	#waves {
		border-bottom: 0;
		padding-bottom: 0;
	}
}
