//Nav Styles Here
#main-navbar {
	transition: all 0.5s ease-in-out;
	padding: 1rem 0;
	color: $white;
	//background: url(../img/header-background.jpg) center center no-repeat;
	//background-size: cover;

	.navbar-toggler,
	.navbar-toggler-icon {
		border-color: $secondary;
		color: $secondary;
	}

	.navbar-nav {
		margin-left: auto;
	}

	.nav-item {
		.nav-link {
			color: $white;
			&:hover {
				color: $secondary;
			}
		}

		&.btn {
			&.btn-outline-secondary {
				color: $white;
				border: 1px solid white;
				.nav-link {
					color: $white;
				}
				&:hover {
					color: $white;
					border: 1px solid $dark;
				}
			}
		}
	}

	&.navbar-transparent {
		opacity: 0.9;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
}
