//Nav Styles Here
#main-navbar {
	padding: 1rem 0;
	color: $white;

	.navbar-toggler,
	.navbar-toggler-icon {
		border-color: $secondary;
		color: $secondary;
	}

	.navbar-nav {
		margin-left: auto;
	}

	.nav-item {
		.nav-link {
			color: $white;
			&:hover {
				color: $secondary;
			}
		}

		&.btn {
			&.btn-outline-secondary {
				color: $white;
				border: 1px solid white;
				.nav-link {
					color: $white;
				}
				&:hover {
					color: $white;
					border: 1px solid $dark;
				}
			}
		}
	}
}
