//Individual page Section Styles Here
#icons {
	.icons-description {
		padding: 1.5rem 0;
		margin: 3rem 1.5rem;
	}
}

#download {
	background: url(../img/header-background.jpg) center center no-repeat;
	background-size: cover;
}

.contact {
	.form-control {
		border: 3px solid $secondary;
	}
}
